{{>layouts/header}}
<div class="container">

<h2><div style="text-align:center">회원가입</div></h2>

<form class="px-4 py-3" action="/joinProc" method="post">
    <div class="mb-3">
        <label class="form-label"><b>닉네임</b></label>
        <input type="text" class="form-control" name="nickname">
    </div>
    {{#nicknameError}}
    <div class="alert alert-danger">
      이미 등록된 닉네임입니다. 다른 닉네임으로 시도하세요.
    </div>
    {{/nicknameError}}
    <div class="mb-3">
        <label class="form-label"><b>이메일</b></label><br>
        <p>*가입 시 ID로 활용되고 안내사항이 있을 경우 이 메일주소로 안내됩니다.*</p>
        <input type="email" class="form-control" name="email">
    </div>
    {{#emailError}}
    <div class="alert alert-danger">
        이미 등록된 이메일입니다. 다른 이메일으로 시도하세요.
    </div>
    {{/emailError}}
    <div class="mb-3">
        <label class="form-label"><b>비밀번호</b></label>
        <input type="password" class="form-control" name="pswd">
    </div>
    <button type="submit" class="btn btn-primary">가입하기</button>
    <a href="/" class="btn btn-sm btn-outline-success">뒤로가기</a>

</form>
</div>
{{>layouts/footer}}