{{>layouts/header}}
<h2><div style="text-align:center">회원가입</div></h2>
<form class="px-4 py-3" action="/signin" method="post">
    <div class="mb-3">
        <label class="form-label">닉네임</label>
        <input type="text" class="form-control" name="nickname">
    </div>
    <div class="mb-3">
        <label class="form-label">이메일</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <input type="password" class="form-control" name="pswd">
    </div>
    <button type="submit" class="btn btn-primary">가입하기</button>
    <a href="/" class="btn btn-sm btn-outline-success">뒤로가기</a>

</form>
{{>layouts/footer}}