<style>
    nav {
        /*배경 바꾸기*/
        /*background-image: url('https://img.freepik.com/free-vector/suchaehwa-chusangjeog-in-baegyeong-gyeoul-saegsang_23-2149135742.jpg?ga=GA1.1.1417152785.1698246491&semt=ais_hybrid');*/
        background-image: url("../../../../images/pic/blue_background2.jpg");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }


    .alert {
        padding: 0.5rem 0.75rem; /* 기본 패딩을 줄여서 높이를 감소 */
        margin-bottom: 1rem; /* 아래쪽 여백 조정 (필요 시) */
    }

    .alert-danger, .alert-success {
        line-height: 1; /* 줄 높이를 줄여서 더 깔끔하게 보이도록 설정 */
        font-size: 1rem; /* 폰트 크기를 조정 (필요 시) */
    }

    .addImage {
        width: 250px;
        height: 350px;
        background-color: lightgray;
        border-radius: 20px 20px / 20px 20px;
        overflow: hidden;
        margin: 0px 10px 10px 0px
    }

    .addImage_m {
        width: 120px;
        height: 150px;
        background-color: lightgray;
        border-radius: 10px;
        overflow: hidden;
        margin: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="file"] {
        width: 100px; /* 파일 선택 버튼의 너비를 이미지와 맞춤 */
    }
    .image-container {
        display: flex;
        flex-wrap: wrap; /* 이미지가 넘칠 경우 줄 바꿈 */
        justify-content: center; /* 중앙 정렬 */
        gap: 10px;
    }

    .image-item {
        text-align: center;/*텍스트 가운데 정렬*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputImg {
        width: 450px;
        height: auto;
        /*height: 350px;*/
    } 

    .gray-text{
        color: gray;
    }

    .hidden {
        display: none;  /*!important; !important를 사용하여 우선순위를 높입니다. */
    }

    .a {
        text-decoration: none; /* 기본 밑줄 제거 */
        color: inherit; /* 부모의 글자 색상 상속 */
    }

    /*태그와 메타데이터 등 게시글 목록 스타일*/
    
    .tags {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .tag {
        font-size: 0.85em;
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #e0f7fa;
        color: #00796b;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

    .tag:hover {
        background-color: #00796b;
        color: white;
    }

    .meta-info {
        font-size: 0.9em;
        color: #888;
        margin-bottom: 15px;
    }

    .article-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: flex-start /*텍스트 위쪽정렬*/
    }
    .article-content {
        display: flex;
        justify-content: space-between; /* 이미지와 텍스트를 가로로 배치 */
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease; /* 호버 시 부드러운 효과 */
        cursor: pointer; /* 클릭 가능한 느낌을 주기 위해 */
        overflow: hidden;
    }

    .article-content:hover {
        transform: translateY(-5px); /* 호버 시 살짝 떠오르는 효과 */
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }

    .article-image {
        width: 180px;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 20px;
    }



    /* Radio 버튼 스타일 */
    #scoreForm fieldset {
        display: inline-block;
        direction: rtl;
        border: 0;
    }
    #scoreForm fieldset legend {
        text-align: right;
    }
    #scoreForm input[type=radio] {
        display: none;
    }
    #scoreForm .radio-label {
        font-size: 2em; /* 원래 크기 유지 */
        color: transparent;
        text-shadow: 0 0 0 #f0f0f0;
    }
    #scoreForm .radio-label:hover {
        text-shadow: 0 0 0 rgba(92, 200, 50, 0.99);
    }
    #scoreForm .radio-label:hover ~ .radio-label {
        text-shadow: 0 0 0 rgba(92, 200, 50, 0.99);
    }
    #scoreForm input[type=radio]:checked ~ .radio-label {
        text-shadow: 0 0 0 rgba(92, 200, 50, 0.99);
    }

    /* Checkbox 버튼 스타일 */
    #existing-tags {
        margin-top: 1em;
    }
    .checkbox-label {
        display: inline-block;
        border: 2px solid #28a745; /* 테두리 색상 */
        border-radius: 5px;
        background-color: transparent; /* 기본 배경색 투명 */
        color: #28a745; /* 기본 글자색 */
        transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0; /* 여백 제거 */
        margin: 0; /* 여백 제거 */
        position: relative;
    }
    .checkbox-label:hover {
        background-color: rgba(40, 167, 69, 0.1); /* 호버 상태 배경색 */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }
    .checkbox-label input[type=checkbox] {
        display: none;
    }
    .checkbox-label input[type=checkbox]:checked + span {
        background-color: #28a745; /* 선택 시 배경색 */
        color: white; /* 선택된 글자 색상 */
    }
    .checkbox-label span {
        display: inline-block;
        padding: 0.5em 1em; /* 버튼 내부 패딩 조정 */
        font-size: 0.7em; /* 글자 크기 줄이기 */
    }


    #score_reason {
        width: 100%;
        height: 50px;
        padding: 10px;
        box-sizing: border-box;
        border: solid 1.5px #D3D3D3;
        border-radius: 5px;
        font-size: 16px;
        resize: none;
    }
</style>