{{>layouts/header}}
<div class="container">
<br>
<h2>마이페이지</h2>
<br>
{{nickname}}님 환영합니다.<br><br>

<h4>리뷰시 선택한 키워드 분석</h4>
<!--키워드분석(워드클라우드)-->
<div id="container"></div>


<h4>추천 작품</h4>
<div id="recommendations"></div>
  

<script>
    const memberId = {{member_id}}; 
    console.log('Member ID:', memberId);

    // 워드클라우드 데이터 가져오기
    fetch(`/api/mypage/wordcloud/${memberId}`)
        .then(response => response.json())
        .then(wordCounts => {
            const wordCloudData = wordCounts.map(tag => ({ x: tag.tagName, value: tag.count }));
            
            anychart.onDocumentReady(function() {
                var chart = anychart.tagCloud(wordCloudData);
                chart.title("나의 키워드 분석");
                chart.angles([0, 45, 90, -45]);
                //chart.textDirection("vertical");
                chart.container("container");
                chart.draw();
            });
    });


    // 추천 게시글 가져오기
    fetch(`/api/mypage/recommended-articles/${memberId}`)
        .then(response => response.json())
        .then(articles => {
            const recommendationsContainer = document.getElementById("recommendations");
            if (!Array.isArray(articles)) {
                articles = [articles]; // 단일 아티클도 배열로 변환
            }
            
            articles.forEach(article => {
                const articleDiv = document.createElement("div");
                articleDiv.className = "article";
                articleDiv.innerHTML = `
                    <div class="article-content">
                        <a href="/articles/animes/${article.id}">
                            <img src="/images/pic/anime/${article.main_pic}" width=150 alt="작품표지" class="article-image">
                        </a>
                        <div class="article-info">
                            <b>[${article.genre}] ${article.title}</b><br>
                            ${article.broad_date} | ${article.author} | ${article.ani_company}
                            <br>
                            <span>${article.story}</span>
                        </div>
                    </div>
                `;
                recommendationsContainer.appendChild(articleDiv);

                /*
                // 클릭 이벤트 추가(div전체 클릭가능)
                articleDiv.querySelector('.article-content').addEventListener('click', () => {
                    window.location.href = `/articles/anime/${article.id}`;
                });
                */
            });
            
        });

</script>

<style>
    .article-content {
        display: flex;
        margin-bottom: 20px; /* 각 게시글 간의 간격 */
    }
    
    .article-image {
        margin-right: 15px; /* 이미지와 텍스트 간의 간격 */
    }
    
    .article-info {
        flex: 1; /* 텍스트가 남은 공간을 차지하도록 설정 */
    }
    
    .article b {
        display: block; /* 제목을 블록으로 만들어 줄바꿈 가능하게 */
        margin-bottom: 5px; /* 제목과 내용 간의 간격 */
    }
</style>
{{>layouts/footer}}