{{>layouts/header}}
<div class="container">

<h2>마이페이지</h2>
{{nickname}}님 환영합니다.

<!--키워드분석(워드클라우드)-->
<div id="container"></div>


추천 작품
<div id="recommendations"></div>

</style>  
<script>
    const memberId = {{member_id}}; 
    console.log('Member ID:', memberId);

    // 워드클라우드 데이터 가져오기
    fetch(`/api/mypage/wordcloud/${memberId}`)
        .then(response => response.json())
        .then(wordCounts => {
            const wordCloudData = wordCounts.map(tag => ({ x: tag.tagName, value: tag.count }));
            
            anychart.onDocumentReady(function() {
                var chart = anychart.tagCloud(wordCloudData);
                chart.title("나의 키워드 분석");
                chart.angles([0, 45, 90, -45]);
                //chart.textDirection("vertical");
                chart.container("container");
                chart.draw();
            });
    });

    // 추천 게시글 가져오기
    fetch(`/api/mypage/recommended-articles/${memberId}`)
        .then(response => response.json())
        .then(articles => {
            const recommendationsContainer = document.getElementById("recommendations");
            if (!Array.isArray(articles)) {
                const articleDiv = document.createElement("div");
                articleDiv.className = "article";
                articleDiv.innerHTML = `<h4>${article.title}</h4><p>${article.story}</p>`;
            }
            else{
            articles.forEach(article => {
                const articleDiv = document.createElement("div");
                articleDiv.className = "article";
                articleDiv.innerHTML = `<h4>${article.title}</h4><p>${article.story}</p>`;
                recommendationsContainer.appendChild(articleDiv);
            })};
        });


</script>
{{>layouts/footer}}