{{>layouts/header}}
<div class="container">
{{#nickname}}
  {{nickname}}님, 이메일 {{id}}, 권한 {{role}}으로 로그인중입니다.
  <hr>
{{/nickname}}

  {{#write}}
  <div>
    <strong>글쓰기 가능(해당권한 : manager, admin)</strong>
    <a href="/write/article/anime" class="btn btn-outline-success">글쓰기</a>
  </div>
  {{/write}}
  {{#admin}}
  <div>
    <strong>관리자권한(admin)</strong>
    <a href="/admin/member" class="btn btn-outline-success">회원관리</a>
    준비중
  </div>
  <hr>
  {{/admin}}

    <div class="row">
        <div class="col-md-6">
            <h3>3개월간 점수 상위 작품!</h3>
            가나다라1234
            <div class="w-100"></div>
            <table class="table">
                <thead class="table-light">
                    <tr>
                    <th scope="col">작품</th>
                    <th scope="col">작품설명</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="2"><img src="/images/pic/conan.jpg" width=150 alt="작품표지"></td>
                    <th>작품제목</th>
                  </tr>
                  <tr>
                    <td>줄거리_셜록 홈즈를 능가하는 추리력으로,
                        모든 사건들에서 대활약을 벌이는 고교생 명탐정 쿠도 신이치!
                        
                        하지만 어느 날, 사건을 쫓던 그는 이상한 약의 힘으로 갑자기 어린아이가 되어버리는데...?!
                        
                        가명은 "에도가와 코난". 꼬마 명탐정이 등장한다!!</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-6">
            <h3>최근 등록된 작품</h3>
            <div class="w-100 d-none d-md-block"></div>
            <table class="table">
                <thead class="table-light">
                    <tr>
                    <th scope="col">작품</th>
                    <th scope="col">작품설명</th>
                    </tr>
                </thead>
                <tbody>
                  {{#articleList}}
                  <tr class="article-row" data-article-id="{{id}}">
                    <td rowspan="2"><img src="/images/pic/anime/{{main_pic}}" width=150 alt="작품표지"></img></td>
                    <th>[{{genre}}] {{title}}<br>
                      {{#usedTags}}
                      <span class="btn btn-outline-info m-1 tag">{{.}}</span>
                      {{/usedTags}}
                    </th>
                  </tr>
                  <tr class="article-row" data-article-id="{{id}}">
                    <td>{{story}}</img></td>
                  </tr>
                  {{/articleList}}
                </tbody>
              </table>
        </div>
    </div>
</div>


{{>layouts/footer}}

<script>
{
  <!--작품목록중에서 선택하면 작품 상세페이지로 이동-->
  document.addEventListener("DOMContentLoaded", function(){
    const articleRows=document.querySelectorAll(".article-row");

    //각 row에 클릭 이벤트 핸들러 추가
    articleRows.forEach(row=>{
      row.addEventListener("click", function(){
        //클릭한 row의 data-article-id 속성값 가져오기
        const articleId=this.getAttribute("data-article-id");

        //리디렉션
        window.location.href=`/articles/anime/${articleId}`;
      })
    })
  })
}
</script>
<style>
  .tag {
    display: inline-block;
    padding: 0.5em 1em; /* 버튼 내부 패딩 조정 */
    font-size: 0.7em; /* 글자 크기 줄이기 */
}
</style>